# Python
__pycache__/
*.pyc
.venv/
venv/
*.env

# IDE folders
.idea/
.vscode/

# OS files
.DS_Store

# Project cache
ansible/fact_cache/
celery_results.db
celery_results.db
celerybeat-schedule
cmdb.log
.gitignore
celery_results.db
celery_results.db
src/celery_broker.db
celery_broker.db
celery_results.db
celery_broker.db
celery_results.db
celerybeat-schedule.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
cmdb.db
/wheelhouse/
src/core/configs/inventory.ini
